*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    width: 100%;
    gap: 16px;
    padding: 10px;
    max-width: 1050px;
}

section{
    background: peachpuff;
    border-radius: 10px;
}

.tool-box{
    width: 210px;
    padding: 15px 22px 0;
}


.tool-box .row{
    margin-bottom: 20px;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}

.drawing-box{
    flex: 1;
}

.drawing-box canvas{
    width: 100%;
    height: 100%;
}

.color-pallet{
    display: flex;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
}

.color-selector{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.color-selector::-webkit-color-swatch-wrapper {
    padding: 0; 
}
.color-selector::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-selector.selected{
    border: 2px solid black;
    padding: 2px;
}


